# Feature Engineering + Machine Learning

In [5]:
%config Completer.use_jedi = False 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 0 Treatment of NaN/Null Values

Before continoing we re going to treat NaN /Null values. (We skip it after EDA because we drop several columns in that step )

In [7]:
historicalForecast = pd.read_csv('Data/historicalForecast.csv', nrows = 1000)

In [14]:
historicalForecast.columns

Index(['forecast dt unixtime', 'forecast dt iso', 'slice dt unixtime',
       'slice dt iso', 'lat', 'lon', 'temperature', 'dew_point', 'pressure',
       'ground_pressure', 'humidity', 'clouds', 'wind_speed', 'wind_deg',
       'rain', 'snow', 'ice', 'fr_rain', 'convective', 'snow_depth',
       'accumulated', 'hours', 'rate'],
      dtype='object')

In [17]:
historicalForecast[historicalForecast['rain']!=0][['rain','convective','accumulated']]

      rain  convective  accumulated
0      NaN         NaN          NaN
63   0.062       0.062        0.062
93     NaN         NaN          NaN
117  0.125       0.125        0.125
118  0.188       0.188        0.188
119  0.188       0.188        0.188
142  0.125       0.062        0.125
143  0.188       0.125        0.188
186    NaN         NaN          NaN
208  2.125       2.125        2.125
209  0.250       0.250        0.250
210  0.250       0.250        0.250
279    NaN         NaN          NaN
299  0.562       0.562        0.562
300  0.188       0.188        0.188
301  0.188       0.188        0.188
324  0.188       0.125        0.188
325  0.312       0.312        0.312
326  0.062       0.062        0.062
327  0.125       0.125        0.125
328  0.125       0.125        0.125
329  0.250       0.250        0.250
330  0.125       0.125        0.125
331  0.312       0.250        0.312
332  0.188       0.188        0.188
333  0.312       0.250        0.312
372    NaN         NaN          NaN
422  0.125       0.125        0.125
423  0.125       0.125        0.125
424  0.250       0.250        0.250
428  0.188       0.188        0.188
429  0.062       0.062        0.062
465    NaN         NaN          NaN
515  0.125       0.125        0.125
520  0.062       0.062        0.062
530  0.062       0.062        0.062
558    NaN         NaN          NaN
651    NaN         NaN          NaN
664  0.375       0.375        0.375
665  0.625       0.625        0.625
668  0.938       0.938        0.938
669  0.938       0.938        0.938
744    NaN         NaN          NaN
755  0.500       0.500        0.500
756  0.625       0.625        0.625
759  0.062       0.062        0.062
785  0.062       0.062        0.062
837    NaN         NaN          NaN
845  1.312       1.312        1.312
846  0.812       0.812        0.812
847  0.812       0.812        0.812
850  0.062       0.062        0.062
925  0.250       0.250        0.250
926  2.812       2.812        2.812
930    NaN         NaN          NaN
982  0.188       0.188        0.188