In [3]:
import pandas as pd
import numpy as np

In [25]:
bob = pd.DataFrame(
    np.array([[1, 2, 3], [4, 5, np.nan], [7, 8, 9], [3, 2, np.nan], [5, 6, np.nan]]), 
    columns=['a', 'b', 'c']
)
bob

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  NaN
2  7.0  8.0  9.0
3  3.0  2.0  NaN
4  5.0  6.0  NaN

In [26]:
map(lambda x:3, bob['c'])

In [27]:
bob

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  NaN
2  7.0  8.0  9.0
3  3.0  2.0  NaN
4  5.0  6.0  NaN